{% load static %}

<header class="navbar navbar-expand-xl navbar-light">
    <div class="container">

        <!-- Brand -->
        <a class="navbar-brand" href="/">
            <img src="{% static 'assets/img/brand-gigas.svg' %}" class="navbar-brand-img" alt="...">
        </a>

        <!-- Vertical Menu -->
        {% if user.is_authenticated and user.first_name == '' %}
        <ul class="navbar-nav navbar-vertical ms-xl-4 d-none d-xl-flex">
            <li class="nav-item dropdown">
                <a class="nav-link pb-4 mb-n4 px-0 pt-0" id="navbarVerticalMenu" data-bs-toggle="dropdown" href="#"
                   aria-haspopup="true" aria-expanded="false">
                    <div class="py-3 px-5 d-flex align-items-center">
                        <div class="me-3 ms-1 text-gigas d-flex">
                            <!-- Icon -->
                            <svg width="25" height="17" viewBox="0 0 25 17" xmlns="http://www.w3.org/2000/svg">
                                <rect width="25" height="1" fill="currentColor"/>
                                <rect y="8" width="15" height="1" fill="currentColor"/>
                                <rect y="16" width="20" height="1" fill="currentColor"/>
                            </svg>

                        </div>
                        <span class="text-gigas fw-medium me-1">Courses</span>
                    </div>
                </a>

                <ul class="dropdown-menu dropdown-menu-md bg-primary rounded py-4 mt-4"
                    aria-labelledby="navbarVerticalMenu">
                    {% for cat in category %}
                    <li class="dropdown-item dropright">
                        <a class="dropdown-link dropdown-toggle" data-bs-toggle="dropdown" href="#">
                            <div class="me-4 d-flex text-white icon-xs">
                                <!-- Icon -->
                                <div class="me-4 d-flex text-white icon-xs">
                                    <i class="{{cat.icon}}"></i>
                                </div>
                                </svg>

                            </div>
                            {{ cat.name }}
                        </a>

                        <div class="dropdown-menu ps-3 top-0 pe-0 py-0 shadow-none bg-transparent">
                            <div class="dropdown-menu-md bg-primary rounded dropdown-menu-inner">
                                {% for i in cat.course_set.all %}
                                <a class="dropdown-item" href="{{i.get_absolute_url}}">
                                    {{i.title}}
                                </a>
                                {% endfor %}
                            </div>
                        </div>
                    </li>
                    {% endfor %}

                </ul>
            </li>
        </ul>
        {% elif user.is_authenticated %}
        <ul class="navbar-nav navbar-vertical ms-xl-4 d-none d-xl-flex">
            <li class="nav-item dropdown">
                <a class="nav-link pb-4 mb-n4 px-0 pt-0" id="navbarVerticalMenu" data-bs-toggle="dropdown" href="#"
                   aria-haspopup="true" aria-expanded="false">
                    <div class="py-3 px-5 d-flex align-items-center">
                        <div class="me-3 ms-1 text-gigas d-flex">
                            <!-- Icon -->
                            <svg width="25" height="17" viewBox="0 0 25 17" xmlns="http://www.w3.org/2000/svg">
                                <rect width="25" height="1" fill="currentColor"/>
                                <rect y="8" width="15" height="1" fill="currentColor"/>
                                <rect y="16" width="20" height="1" fill="currentColor"/>
                            </svg>

                        </div>
                        <span class="text-gigas fw-medium me-1">Courses</span>
                    </div>
                </a>

                <ul class="dropdown-menu dropdown-menu-md bg-primary rounded py-4 mt-4"
                    aria-labelledby="navbarVerticalMenu">
                    {% for cat in category %}
                    <li class="dropdown-item dropright">
                        <a class="dropdown-link dropdown-toggle" data-bs-toggle="dropdown" href="#">
                            <div class="me-4 d-flex text-white icon-xs">
                                <!-- Icon -->
                                <div class="me-4 d-flex text-white icon-xs">
                                    <i class="{{cat.icon}}"></i>
                                </div>
                                </svg>

                            </div>
                            {{ cat.name }}
                        </a>

                        <div class="dropdown-menu ps-3 top-0 pe-0 py-0 shadow-none bg-transparent">
                            <div class="dropdown-menu-md bg-primary rounded dropdown-menu-inner">
                                {% for i in cat.course_set.all %}
                                <a class="dropdown-item" href="{{i.get_absolute_url}}">
                                    {{i.title}}
                                </a>
                                {% endfor %}
                            </div>
                        </div>
                    </li>
                    {% endfor %}

                </ul>
            </li>
        </ul>
        {% endif %}
        <!-- Collapse -->
        <div class="collapse navbar-collapse z-index-lg" id="navbarCollapse">

            <!-- Toggler -->
            <button class="navbar-toggler outline-0 text-primary" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false"
                    aria-label="Toggle navigation">
                <!-- Icon -->
                <svg width="16" height="17" viewBox="0 0 16 17" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0.142135 2.00015L1.55635 0.585938L15.6985 14.7281L14.2843 16.1423L0.142135 2.00015Z"
                          fill="currentColor"></path>
                    <path d="M14.1421 1.0001L15.5563 2.41431L1.41421 16.5564L0 15.1422L14.1421 1.0001Z"
                          fill="currentColor"></path>
                </svg>

            </button>

            <!-- Navigation -->
            <ul class="navbar-nav ms-auto">
                <li class="nav-item dropdown dropdown-full-width ">
                    <a class="nav-link px-xl-4 text-gigas" href="{% url 'home' %}">
                        <span>Home</span>
                    </a>

                </li>
                <li class="nav-item dropdown dropdown-full-width">
                    <a class="nav-link text-gigas" href="{% url 'about_us' %}">
                        About
                    </a>

                </li>
                <li class="nav-item dropdown dropdown-full-width">
                    <a class="nav-link text-gigas" href="{% url 'contact_us' %}">
                        Contact Us
                    </a>

                </li>
                <li class="nav-item dropdown dropdown-full-width">

                    {% if user.is_authenticated and user.first_name == '' %}
                    <a class="nav-link text-gigas" href="{% url 'my_course' %}">
                        My Courses
                    </a>
                    {% elif user.is_authenticated %}
                    <a class="nav-link text-gigas" href="{% url 'my_course' %}">
                        My Courses
                    </a>
                    {% else %}
                    {% endif %}
                </li>
                {% if user.is_authenticated and user.first_name == '' %}
                <li class="nav-item dropdown border-0 px-1 px-md-3">
                    <a class="nav-link dropdown-toggle" id="user" data-bs-toggle="dropdown" href="#"
                       aria-haspopup="true" aria-expanded="false">
                        Welcome , {{user.username}}
                    </a>

                    <ul class="dropdown-menu border-xl shadow-none" aria-labelledby="user">
                        <li class="dropdown-item">
                            <a class="dropdown-link active" href="{% url 'profile' %}">
                                Account
                            </a>
                        </li>
                        <li class="dropdown-item">
                            <a href="{% url 'logout' %}" class="dropdown-link">
                                Logout
                            </a>
                        </li>
                    </ul>
                </li>
                {% elif user.is_authenticated %}
                <li class="nav-item dropdown border-0 px-1 px-md-3">
                    <a class="nav-link dropdown-toggle" id="user" data-bs-toggle="dropdown" href="#"
                       aria-haspopup="true" aria-expanded="false">
                        Welcome , {{user.first_name}}&nbsp;{{user.last_name}}
                    </a>

                    <ul class="dropdown-menu border-xl shadow-none" aria-labelledby="user">
                        <li class="dropdown-item">
                            <a class="dropdown-link " href="{% url 'profile' %}">
                                Account
                            </a>
                        </li>
                        <li class="dropdown-item">
                            <a href="{% url 'logout' %}" class="dropdown-link">
                                Logout
                            </a>
                        </li>
                    </ul>
                </li>
                {% else %}
                <li class="nav-item dropdown dropdown-full-width ">
                    <a class="nav-link px-xl-4 text-gigas" href="{% url 'login' %}">
                        <span>Login</span>
                    </a>
                </li>
                {% endif %}
            </ul>
        </div>

        <!-- Search, Account & Cart -->
        {% if user.is_authenticated and user.first_name == '' %}
        <ul class="navbar-nav flex-row ms-n4 ms-sm-auto ms-xl-0 me-n2 me-md-n4">
            <li class="nav-item border-0 px-1 px-md-3 d-none d-370-block d-xl-block">
                <a class="nav-link d-flex p-3 bg-white-all rounded-circle search-mobile text-gigas icon-xs"
                   data-bs-toggle="collapse" href="#collapseSearchMobile" role="button" aria-expanded="false"
                   aria-controls="collapseSearchMobile">
                    <!-- Icon -->
                    <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M8.80758 0C3.95121 0 0 3.95121 0 8.80758C0 13.6642 3.95121 17.6152 8.80758 17.6152C13.6642 17.6152 17.6152 13.6642 17.6152 8.80758C17.6152 3.95121 13.6642 0 8.80758 0ZM8.80758 15.9892C4.8477 15.9892 1.62602 12.7675 1.62602 8.80762C1.62602 4.84773 4.8477 1.62602 8.80758 1.62602C12.7675 1.62602 15.9891 4.8477 15.9891 8.80758C15.9891 12.7675 12.7675 15.9892 8.80758 15.9892Z"
                              fill="currentColor"/>
                        <path d="M19.762 18.6121L15.1007 13.9509C14.7831 13.6332 14.2687 13.6332 13.9511 13.9509C13.6335 14.2682 13.6335 14.7831 13.9511 15.1005L18.6124 19.7617C18.7712 19.9205 18.9791 19.9999 19.1872 19.9999C19.395 19.9999 19.6032 19.9205 19.762 19.7617C20.0796 19.4444 20.0796 18.9295 19.762 18.6121Z"
                              fill="currentColor"/>
                    </svg>


                    <!-- Icon -->
                    <svg width="16" height="17" viewBox="0 0 16 17" xmlns="http://www.w3.org/2000/svg">
                        <path d="M0.142135 2.00015L1.55635 0.585938L15.6985 14.7281L14.2843 16.1423L0.142135 2.00015Z"
                              fill="currentColor"></path>
                        <path d="M14.1421 1.0001L15.5563 2.41431L1.41421 16.5564L0 15.1422L14.1421 1.0001Z"
                              fill="currentColor"></path>
                    </svg>

                </a>

                <div class="collapse position-absolute right-0 left-0" id="collapseSearchMobile">
                    <div class="card card-body p-4 mt-7 shadow-dark">
                        <!-- Search -->
                        <form class="w-100" method="get" action="{% url 'search_course' %}">
                            <div class="input-group border rounded">
                                <div class="input-group-prepend">
                                    <button class="btn btn-sm text-secondary icon-xs d-flex align-items-center"
                                            type="submit">
                                        <!-- Icon -->
                                        <svg width="20" height="20" viewBox="0 0 20 20" fill="none"
                                             xmlns="http://www.w3.org/2000/svg">
                                            <path d="M8.80758 0C3.95121 0 0 3.95121 0 8.80758C0 13.6642 3.95121 17.6152 8.80758 17.6152C13.6642 17.6152 17.6152 13.6642 17.6152 8.80758C17.6152 3.95121 13.6642 0 8.80758 0ZM8.80758 15.9892C4.8477 15.9892 1.62602 12.7675 1.62602 8.80762C1.62602 4.84773 4.8477 1.62602 8.80758 1.62602C12.7675 1.62602 15.9891 4.8477 15.9891 8.80758C15.9891 12.7675 12.7675 15.9892 8.80758 15.9892Z"
                                                  fill="currentColor"/>
                                            <path d="M19.762 18.6121L15.1007 13.9509C14.7831 13.6332 14.2687 13.6332 13.9511 13.9509C13.6335 14.2682 13.6335 14.7831 13.9511 15.1005L18.6124 19.7617C18.7712 19.9205 18.9791 19.9999 19.1872 19.9999C19.395 19.9999 19.6032 19.9205 19.762 19.7617C20.0796 19.4444 20.0796 18.9295 19.762 18.6121Z"
                                                  fill="currentColor"/>
                                        </svg>

                                    </button>
                                </div>
                                <input class="form-control form-control-sm border-0 ps-0" type="search"
                                       placeholder="What do you want to learn ?" aria-label="Search" name="query">
                            </div>
                        </form>
                    </div>
                </div>
            </li>
        </ul>
        {% elif user.is_authenticated %}
        <ul class="navbar-nav flex-row ms-n4 ms-sm-auto ms-xl-0 me-n2 me-md-n4">
            <li class="nav-item border-0 px-1 px-md-3 d-none d-370-block d-xl-block">
                <a class="nav-link d-flex p-3 bg-white-all rounded-circle search-mobile text-gigas icon-xs"
                   data-bs-toggle="collapse" href="#collapseSearchMobile" role="button" aria-expanded="false"
                   aria-controls="collapseSearchMobile">
                    <!-- Icon -->
                    <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M8.80758 0C3.95121 0 0 3.95121 0 8.80758C0 13.6642 3.95121 17.6152 8.80758 17.6152C13.6642 17.6152 17.6152 13.6642 17.6152 8.80758C17.6152 3.95121 13.6642 0 8.80758 0ZM8.80758 15.9892C4.8477 15.9892 1.62602 12.7675 1.62602 8.80762C1.62602 4.84773 4.8477 1.62602 8.80758 1.62602C12.7675 1.62602 15.9891 4.8477 15.9891 8.80758C15.9891 12.7675 12.7675 15.9892 8.80758 15.9892Z"
                              fill="currentColor"/>
                        <path d="M19.762 18.6121L15.1007 13.9509C14.7831 13.6332 14.2687 13.6332 13.9511 13.9509C13.6335 14.2682 13.6335 14.7831 13.9511 15.1005L18.6124 19.7617C18.7712 19.9205 18.9791 19.9999 19.1872 19.9999C19.395 19.9999 19.6032 19.9205 19.762 19.7617C20.0796 19.4444 20.0796 18.9295 19.762 18.6121Z"
                              fill="currentColor"/>
                    </svg>


                    <!-- Icon -->
                    <svg width="16" height="17" viewBox="0 0 16 17" xmlns="http://www.w3.org/2000/svg">
                        <path d="M0.142135 2.00015L1.55635 0.585938L15.6985 14.7281L14.2843 16.1423L0.142135 2.00015Z"
                              fill="currentColor"></path>
                        <path d="M14.1421 1.0001L15.5563 2.41431L1.41421 16.5564L0 15.1422L14.1421 1.0001Z"
                              fill="currentColor"></path>
                    </svg>

                </a>

                <div class="collapse position-absolute right-0 left-0" id="collapseSearchMobile">
                    <div class="card card-body p-4 mt-7 shadow-dark">
                        <!-- Search -->
                        <form class="w-100" method="get" action="{% url 'search_course' %}">
                            <div class="input-group border rounded">
                                <div class="input-group-prepend">
                                    <button class="btn btn-sm text-secondary icon-xs d-flex align-items-center"
                                            type="submit">
                                        <!-- Icon -->
                                        <svg width="20" height="20" viewBox="0 0 20 20" fill="none"
                                             xmlns="http://www.w3.org/2000/svg">
                                            <path d="M8.80758 0C3.95121 0 0 3.95121 0 8.80758C0 13.6642 3.95121 17.6152 8.80758 17.6152C13.6642 17.6152 17.6152 13.6642 17.6152 8.80758C17.6152 3.95121 13.6642 0 8.80758 0ZM8.80758 15.9892C4.8477 15.9892 1.62602 12.7675 1.62602 8.80762C1.62602 4.84773 4.8477 1.62602 8.80758 1.62602C12.7675 1.62602 15.9891 4.8477 15.9891 8.80758C15.9891 12.7675 12.7675 15.9892 8.80758 15.9892Z"
                                                  fill="currentColor"/>
                                            <path d="M19.762 18.6121L15.1007 13.9509C14.7831 13.6332 14.2687 13.6332 13.9511 13.9509C13.6335 14.2682 13.6335 14.7831 13.9511 15.1005L18.6124 19.7617C18.7712 19.9205 18.9791 19.9999 19.1872 19.9999C19.395 19.9999 19.6032 19.9205 19.762 19.7617C20.0796 19.4444 20.0796 18.9295 19.762 18.6121Z"
                                                  fill="currentColor"/>
                                        </svg>

                                    </button>
                                </div>
                                <input class="form-control form-control-sm border-0 ps-0" type="search"
                                       placeholder="What do you want to learn ?" aria-label="Search" name="query">
                            </div>
                        </form>
                    </div>
                </div>
            </li>
        </ul>
        {% endif %}
        <!-- Toggler -->
        <button class="navbar-toggler ms-4 ms-md-5 shadow-none bg-teal text-white icon-xs p-0 outline-0 h-40p w-40p d-flex d-xl-none place-flex-center"
                type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse"
                aria-expanded="false" aria-label="Toggle navigation">
            <!-- Icon -->
            <svg width="25" height="17" viewBox="0 0 25 17" xmlns="http://www.w3.org/2000/svg">
                <rect width="25" height="1" fill="currentColor"/>
                <rect y="8" width="15" height="1" fill="currentColor"/>
                <rect y="16" width="20" height="1" fill="currentColor"/>
            </svg>

        </button>
    </div>
</header>